:root {
    --gray: #666666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
    display: block;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.main-content {
    flex-grow: 1;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.row {
    display: flex;
}

.space-btw {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* HEADER STYLE */

.main-header {
    background-color: #000000;
    width: 230px;
    flex-shrink: 0;
    overflow: hidden;
}

@media screen and (max-width: 552px) {
    .main-header {
        width: 50px;
    }
}

/* MAIN-VIEW STYLE */

.main-view {
    background-color: #131821;
    flex-grow: 1;
}


/* TOOLBAR STYLE */

.toolbar {
    background-color: #282828;
    height: 86px;
    width: 100%;
    flex-shrink: 0;
    display: flex;
}

/* SONG PLAYED */

.song-played.row {
    padding: 0 10px;
    gap: 40px;
}

.thumb__album-cover {
    width: 43px;
    margin-right: 12px;
}

.artist-name {
    font-size: 14px;
}

.song-name {
    color: var(--gray);
    font-size: 12px;
}

.song-played__options {
    color: var(--gray);
}

.song-played__options > .like {
    margin-right: 12px;
}

/* PLAYER */