:root {
    --header-width: 230px;
    --header-small: 50px;
    --header-bg: #000000;
    --mainview-bg: #131821;
    --upgrade-bg: #080b12;
    --aside-height: 86px;
    --aside-bg: #282828;
    --gray: #666666;
    --lime: #adff2f;
    --icon-gray: #d2d2d2;
    --button-gray: #a3a3a3;
    --profile: #808080
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
    display: block;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.main-content {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

.row {
    display: flex;
}

.space-btw {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* HEADER STYLE */

.sidebar {
    background-color: var(--header-bg);
    width: var(--header-width);
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

/* RESPONSIVE */

@media screen and (max-width: 551px) {
    .sidebar {
        width: var(--header-small);
    }
}

/* SIDEBAR LOGO */

.logo {
    padding: 20px;
}

.logo-lg {
    width: 120px;
}

.logo-small {
    display: none;
}

@media screen and (max-width: 551px) {

    .logo {
        padding: 4px 10px;
    }

    .logo-lg {
        display: none;
    }

    .logo-small {
        display: block;

    }
}

/* SIDEBAR MENU */

.menu.row {
    flex-direction: column;
}

.menu__items {
    padding: 5px 22px;
    line-height: 20px;
}

.menu__items,
.menu__items > img.home,
.download {
    filter: invert(0.5);   
}

.menu__items:first-child {
    border-left: 4px solid var(--lime);
    padding-left: 18px;
    filter: invert(0);
}

.menu__items,
.download,
.profile {
    display: flex;
    gap: 5px;
}


.menu__items > img {
    width: 20px;
}


@media screen and (max-width: 551px) {

    .menu__items {
        padding: 10px 14px 0;
    }

    .menu__items > a {
        display: none;
    }

    .menu.row .menu__items:first-child {
        border-left: none;
        padding-left: 14px;
    }
}

/* HOVER */

.menu__items:hover,
.menu__items > .home:hover,
.download:hover {
    filter: invert(0);
}

/* PLAYLIST */

.playlist {
    padding: 10px 21px 0;
}


.playlist__title {
    text-transform: uppercase;
    margin-bottom: 8px;
}

.button {
    font-size: 13px;
    color: var(--gray);
}

.wrapper_items{
    filter: invert(0.5);
}

.plus {
    color: var(--header-bg);
    background-color: var(--button-gray);
    padding: 9px 5px;
    margin-right: 5px;
    font-size: 19px;
    line-height: 11px;
}

.playlist-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px 21px;
}

@media screen and (max-width: 551px) {

    .playlist,
    .playlist-wrapper {
        display: none;
    }
}

/* HOVER */

.wrapper_items:hover {
    filter: invert(0);
}

.button:hover {
    color: white;
}

.plus:hover {
    background-color: white;
}


/* DOWNLOAD */

.download {
    margin-top: auto;
    padding: 10px 18px;
    flex-wrap: wrap;
    gap: 8px;
}

.download__img {
    width: 13px;
}


/* RESPONSIVE */

@media screen and (max-width: 551px) {

    .download {
        padding: 0 20px 10px 17px;
    }

    .download > a {
        display: none;
    }

}

/* PROFILE */

.profile {
    padding: 10px 0 6px;
    gap: 8px;
    border-top: 2px solid var(--gray);
    margin: 0 18px;
}

.profile__img {
    width: 25px;
    color: white;
    background-color: var(--profile);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}


/* RESPONSIVE */

@media screen and (max-width: 551px) {

    .profile {
        border: none;
        padding: 12px 12px 10px;
        margin: 0;

    }

    .profile > p {
        display: none;
    }
}

/* MAIN-VIEW STYLE */

.main-view {
    background-color: var(--mainview-bg);
    flex-grow: 1;
    overflow-y: auto;
    height: calc(100vh - var(--aside-height));
}


/* UPGRADE */

.upgrade {
    background-color: var(--upgrade-bg);
    height: 90px;
    width: calc(100% - var(--header-width));
    position: fixed;
    z-index:  1;
    font-size: 12px;
}

.upgrade__wrapper {
    padding: 20px 20px 28px;
    display: flex;
    justify-content: end;
}

.upgrade__button {
    border: 2px solid white;
    border-radius: 999px;
    width: 220px;
    text-align: center;
    transition: trasform .2s;
}

.upgrade__button a {
    line-height: 40px;
}

.button__text {
    text-transform: uppercase;
}

/* RESPONSIVE */

@media screen and (max-width: 551px) {

    .upgrade {
        width: calc(100% - var(--header-small));

    }
}

/* HOVER */

.upgrade__button:hover {
    transform: scale(1);
}

/* NAVBAR */

.main-nav {
    padding: 110px 40px 20px;
    font-size: 12px;
    color: var(--gray);
    text-transform: uppercase;
}

.nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.nav__items:first-child::after {
    content: '';
    display: block;
    height: 3px;
    width: 40px;
    background-color: var(--lime);
    margin: 4px 17px 0;
}

.nav__items a {
    transition: color .1s;
}

/* HOVER */

.nav__items a:hover {
    color: white;
}

/* RECENTLY PLAYED */

.section {
    padding: 0 20px;
}

.section-title {
    font-size: 20px;
    padding-top: 10px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;
    padding: 25px 0;
}

.card {
    flex-basis: calc(100% / 6);
    padding: 0 14px;
}

.card__description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 17px 0 10px;
    align-items: center;
}

.description__title {
    font-size: 13px;
}

.description__title,
.description__subtitle {
    text-align: center;
}

.description__subtitle,
.section-subtitle {
    font-size: 10px;
    filter: invert(0.5);
}

@media screen and (max-width: 877px) {
    .card {
        flex-basis: calc(100% / 4);
    }
}

@media screen and (max-width: 638px) {
    .card {
        flex-basis: calc(100% / 2);
    }
}

/* CREATO PER */

.created-for .section-title,
.popular-artists .section-title {
    margin-bottom: 5px;
}

/* ARTISTI POPOLARI */

.popular-artists .card__img img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}


/* TOOLBAR STYLE */

.toolbar {
    background-color: var(--aside-bg);
    height: var(--aside-height);
    width: 100%;
    display: flex;
    overflow: hidden;
}


/* SONG PLAYED */

.song-played.row,
.toolbar__options.row {
    flex-basis: var(--header-width);
} 

.song-played {
    gap: 4px;
}

.song-played__thumb {
    padding-left: 10px;
    gap:12px;
}


.thumb__album-cover {
    width: 42px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.thumb__album-cover img {
    width: 100%;
}


.artist-name {
    font-size: 12px;
}

.song-name {
    color: var(--gray);
    font-size: 11px;
}

.song-played__options {
    color: var(--gray);
    flex-wrap: wrap;
    gap: 4px 10px;
}


/* PLAYER */

.toolbar__player {
    flex-basis: 40%;
    padding: 10px 0px 20px;
}

.toolbar__player .row {
    gap: 16px;
}

.player__buttons {
    margin-bottom: 10px;
}

.fa-circle-play {
    font-size: 30px;
    margin: 0 10px;
}

.player__progress-bar {
    font-size: 10px;
    gap: 20px;
}

.bar {
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 999px;
    width: 100%
}

.playing {
    background-color: #c1c1c1;
    width: 20%;
}


/* OPTION */

.toolbar__options {
    flex-shrink: 0;
    padding-right: 10px;
    padding-left: 15px;
}

.toolbar__options .row {
    gap: 16px;
}

.options__volume {
    display: contents;
}

.volume-bar.playing {
    width: 30%;
}
